<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.HRNPCI.Model.Properties.Settings.demoConnectionString"
            connectionString="Data Source=KEVIN-PC\SQLEXPRESS2012;Initial Catalog=demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>